.loginForm{
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100vh; /* make the container full height of the viewport */
}

.loginWord{
    border-right: 1px solid lightgrey;
}